@CHARSET "UTF-8";

/* baseColor */
:root {
	--main-color:#808080;
	--accent-color:#e10000;
	--dark-main-color:#2B5566;
	--text-bright-color:#fff;
}

body{
	margin: 0;
	font-family:'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
}

/* ###################################	header	####################################### */

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background-color: rgba(255,255,255,0.75);
}
.headA{
	display: inline-block;
	line-height: 35px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: var(--accent-color);
	color: #000000;
	font-family: Monotype Corsiva;
	font-size: 19.9px;
	text-decoration: none;

}

.header a:hover{
	text-decoration: underline;
}

/* ###################################	.conA	####################################### */
.conA{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 30vh;
	min-height: 300px;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/caesar.jpg');
	background-position: center;
	background-size: cover;
	color: #fff;
	color: var(--text-bright-color);
	text-align:center;
}

.conA h1{
	margin-top: 0;
	margin-bottom: 20px;
	font-family: Monotype Corsiva;
	font-size:60px;
}

.conA strong{
	margin-top: 0;
	margin-bottom: 20px;
	font-family: Monotype Corsiva;
	font-size:18px;
}

.conA ol{
	margin-top: 0;
	margin-bottom: 0;
	font-size:15px;
}

/* ###################################	.conB	####################################### */

.conB{
	margin: 0px 0px;
	color: #fff;
	background-color: #373737;
}

.conB .photoA{
	min-height: 450px;
/*	background-image: url('../img/CaesarShiftCipher_gigure_1.jpg'); */
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/caesar.jpg');
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align:center;
/*	border: solid 1px #000000; */
}

.photoA h1{
	margin-top: 0;
	margin-bottom: 20px;
	font-family: Monotype Corsiva;
	font-size:40px;
}

.photoA strong{
	margin-top: 0;
	margin-bottom: 0px;
	font-family: Monotype Corsiva;
	font-size:15px;
}

.photoA ol{
	margin-top: 0;
	margin-bottom: 0;
	font-size:14px;
}

.conB h3{
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 20px;
}

.conB h4{
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 15px;
}

.conB p{
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 1.8;
}

.conB img{
	 width: 400px;
	 height: 225px;
}

.urlA{
	display: inline-block;
	margin-top: 20px;
	padding: 7.5px 13px;
	border: solid 2px currentColor;
	border-radius: 6px;
	background-color: #fff;
	font-size:13px;
	color: #000000;
	text-decoration: none;
}

.conB a:hover{
	background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25));
}


@media (min-width: 768px){
	.conB .container{
		display: flex;
		max-wigth: 1000px;
		max-wigth: var(--large-width);
		margin-left: auto;
		margin-right: auto;
	}

	.conB .photoA{
		flex: 3;
/*		border: solid 1px #000000; */
	}

	.conB .text{
		flex: 5;
		padding: 70px 50px;
		width: flex;
		height: 450px;
		overflow:auto;
/*		border: solid 1px #000000; */
	}
}


/* ###################################	footer	####################################### */
footer{
	color: #fff;
	background-color: #2B5566;
}

footer .container{
	padding: 30px 25px;
}

.footA h2{
	margin-top: 0px;
	margin-bottom: 20px;
	font-family: Monotype Corsiva;
	font-size: 28px;
}

.footA p{
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 13px;
}

